body {
    background-color:black;
    font-family: Arial;
    color: white;
}

h1{
    color:grey;
    font-family: Verdana;
}

.maindiv{
    background-color: white;
    color: black;
    width: 500px;
    padding: 30px;
    border-radius: 25px;
    align-items: center;
    
}   

#principal{
    position: relative;
    left: 50px;
}

#rate{
    position: relative;
    left: 68px;
}

#rate_val{
    position: relative;
    left: 68px;
}


#years{
    position: relative;
    left: 20px;
}


